.card{
  width: 400px;
  padding: 20px;
  margin: 150px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
 }
input{
margin-bottom: 15px;
padding: 10px;

}
button{
  width: 100%;
}
